<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{range .}}
    {{ $id := .Id }}
    {{ range $index, $element := .Name }}
        <input type="button" value="{{ $element }}" id="{{index  $id  $index }}" name="{{ $element }}" onclick="get_id(this.name,this.id)">
    {{end}}
{{end}}
<script>

    function del_value() {
        for (i=1;i<=20;i++){

            let cls = document.getElementById(String(i));

            cls.value = "???";
        }

    }


    setTimeout(del_value, 5000);

    let arr = [];
    let lst_id = [];

    function get_id(clicked_name,clicked_id){

        lst_id.push(clicked_id)

        document.getElementById(clicked_id).disabled = true;

        arr.push(clicked_name);

        if (arr.length === 2){

            if (arr[0] === arr[1]){

                for (let item of arr){

                    document.getElementsByName(item)[0].remove()

                }

                arr = [];

                lst_id = [];

            }

            else {

                for(let item of lst_id){

                    document.getElementById(item).disabled = false;

                }

                arr = [];

                lst_id = [];

            }

        }

    }

</script>
</body>
</html>